<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" />
      <security>
        <authentication>
          <anonymousAuthentication enabled="false" userName="" />
          <windowsAuthentication enabled="true"></windowsAuthentication>
        </authentication>
      </security>
    </system.webServer>
  </location>
  <connectionStrings>
    <add connectionString="Server=5500s-sql1\\LABOR;Database=Raumplanung;Trusted_Connection=True;MultipleActiveResultSets=True" name="DefaultConnection" />
  </connectionStrings>
</configuration>
<!--ProjectGuid: 1523baf5-8a3d-4c09-91c6-007a090aa998-->